.loader {
    width: 200px;
    height: $height;
    margin-top: $margin;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__bar {
        width: 40px;
        height: 150px;
        background: $color-primary;
        animation: loading 0s both alternate-reverse 3;
        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
    }
}

.content {
    position: absolute;
    top: 0;
    transform: translateY(-10000px);
    animation: show-content 2s infinite;
    // animation-delay: 3.8s;
    width: 100%;
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-lightgrey;
    padding-top: 4rem;
    padding-bottom: 5.5rem;
    &__title {
        width: 70%;
        text-align: center;
        padding-bottom: 10px;
    }
    &__text {
        width: 80%;
        text-align: center;
        font-weight: 300;
        color: $color-grey;
        padding-bottom: 20px;
        font-size: 1.6rem;
    }
}

.fonction-container {
    margin-left: 20px;
    padding-top: 30px;

    &__list {
        margin-top: 30px;
    }
}

.localisation {
    background-color: lighten($color: $color-grey, $amount: 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding-left: 4rem;
    i {
        color: $color-grey;
    }
    input {
        background-color: lighten($color: $color-grey, $amount: 70%);
        color: $color-grey;
        border: none;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        margin-left: 15px;
        font-size: 1.5rem;
        &::placeholder{
            color: #3E3E3E;
        }
    }
}

.restaurants-container {
    background-color: $color-lightgrey;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 5rem;
    &__title{
        margin-left: 2rem;
    }
    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;;
    }
}

.restaurant {
    height: 25rem;
    background-color: #fff;
    margin-bottom: 15px;
    width: 33.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    @include shadow;
    &__visu{
        height: 70%;
    }
    &__photo {
        height: 100%;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        &--new {
            background-color: $color-tertiary;
            width: 80px;
            height: 30px;
            color: darken($color: $color-tertiary, $amount: 40%);
            display: grid;
            place-items: center;
            border-radius: 3px;
            position: relative;
            left: 24.5rem;
            top: -16.5rem;
            font-weight: 600;
        }
    }
    &__text {
        display: flex;
        justify-content: space-between;
        margin-left: 1.5rem;
        margin-right: 2.5rem;
        height: 30%;
        align-items: center;
    }
    &__title {
        font-weight: 700;
    }

}

.heart{
    
    &__animated{
        font-size: 2.5rem;
        &:hover::before {
            opacity: 1;
            transition: all 1s;
        }
        &::before {
            color: transparent;
            position: relative;
            -webkit-background-clip: text;
            opacity: 0;
            background-image: linear-gradient(to bottom left, $color-primary 20%, $color-secondary);
        }
    }
    &__visible{
        font-size: 2.5rem;
        -webkit-text-stroke: 0.9px white;
        position: relative;
        right: -2.9rem;
        //text-shadow: 0px 0px 1px black;
        //color: white;
    }


    
}


.resto-name {
    height: 30rem;
    display: flex;

    &__photo{
        object-fit: cover;
        width: 100%;
        &--charonne{
            object-position: 0rem -9rem;
        }
    }

    &__title {
        position: absolute;
        display: flex;
        background: $color-lightgrey;
        justify-content: space-between;
        align-items: center;
        align-self: flex-end;
        width: 100%;
        padding-left: 2rem;
        padding-right: 4rem;
        height: 8rem;
        border-top-left-radius: 3.3rem;
        border-top-right-radius: 3.3rem;
    }
}

.plats,
.entrees,
.desserts {
    display: flex;
    flex-direction: column;
    background-color: $color-lightgrey;


    &__title {
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        padding-left: 1.5rem;
        font-size: 1.6rem;
    }
    &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        width: 100%;
    }
    &__underline {
        margin-top: 5px;
        height: 3px;
        width: 4rem;
        background-color: $color-tertiary;
    }
}

.plat {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 35rem;
    height: 6.8rem;
    @include shadow;
    border-radius: 1.2rem;
    margin-bottom: 1.2rem;
    overflow: hidden;
    @for $dishes from 1 through 10 {
        &--#{$dishes}{
            animation-delay: $dishes-delay * $dishes;
        }
        
    }
    animation: show-dishes 1s;

    

    &__text {
        margin: 1.2rem 0 1.5rem 1rem;
        width: 26rem;
    }

    &__name {
        overflow: hidden;
        white-space: nowrap;
        font-weight: 700;
        font-size: 1.7rem;
        margin-bottom: 0.3rem;
        text-overflow: ellipsis;
    }
    &__descrp {
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.45rem;
        height: 1.8rem;
        text-overflow: ellipsis;
    }
    &__price {
        font-weight: 500;
        align-self: flex-end;
        text-align: center;
        width: 7rem;
        margin-bottom: 1.5rem;
    }
    &__checked {
        background: $color-tertiary;
        height: 6.8rem;
        width: 6rem;
        margin-left: -5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(6rem);
    }

    .fas {
        font-size: 2.2rem;
        color: white;
        transform: rotate(0);
    }
    &:hover &__checked {
        transform: translateX(0);
        margin-left: 0;
        transition: all 1s;
    }

    &:hover .fas {
        transform: rotate(1turn);
        transition: transform 1s;
    }
    &:hover &__text {
        width: 21rem;
        transition: all 1s;
    }
}

.btn-container {
    background: $color-lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
}
