


header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 62px;
    @include shadow;
    .logo{

            max-width: 165px;
            margin-left: auto;
            margin-right: auto;

    }
    .return{
        position: absolute;
        left: 2rem;
        font-size: 2rem;
        color: $color-grey;
    }
    
}