


header{

    width: 100%;
    .header{
        &__logo{
            h1{
                max-width: 200px;
                font-family: 'Shrikhand', cursive;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    
}