@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@-webkit-keyframes loading {}
@keyframes loading {}* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

h1 {
  font-weight: 500;
  font-size: 2.5rem;
}

h2 {
  font-weight: 700;
}

.btn {
  font-family: 'Roboto', sans-serif;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  height: 50px;
  border-radius: 50px;
  color: white;
  display: inline-block;
  padding: 16px 30px;
  -webkit-box-shadow: 0px 5px 10px 0px #acacac;
          box-shadow: 0px 5px 10px 0px #acacac;
}

.btn:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.fonction {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 5px 10px 0px #acacac;
          box-shadow: 0px 5px 10px 0px #acacac;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.fonction__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  margin-left: -15px;
}

.fonction__icon {
  color: #353535;
  margin-left: 30px;
  margin-right: 20px;
}

:hover > .fonction__icon {
  color: #9356DC;
}

.fonction__text {
  font-weight: 500;
}

.fonction:hover {
  background: #f2eafb;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 62px;
  -webkit-box-shadow: 0px 5px 10px 0px #acacac;
          box-shadow: 0px 5px 10px 0px #acacac;
}

header .header__logo {
  max-width: 200px;
  font-family: 'Shrikhand', cursive;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #353535;
}

.footer-container {
  margin-left: 25px;
  padding-top: 20px;
  padding-bottom: 30px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.footer-container__logo {
  font-family: 'Shrikhand', cursive;
}

.footer-container__list {
  margin-top: 10px;
}

.footer-container__list a {
  color: white;
}

.footer-container__list li {
  margin-top: 10px;
}

.footer-container__list i {
  width: 30px;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  padding-top: 40px;
  padding-bottom: 55px;
}

.explore__title {
  width: 70%;
  text-align: center;
  padding-bottom: 10px;
}

.explore__text {
  width: 80%;
  text-align: center;
  font-weight: 300;
  color: #353535;
  padding-bottom: 20px;
}

.fonction-container {
  margin-left: 20px;
  padding-top: 30px;
}

.fonction-container__list {
  margin-top: 30px;
}

.localisation {
  background-color: #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.localisation i {
  color: #353535;
}

.localisation input {
  background-color: #e8e8e8;
  color: #353535;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-left: 15px;
}

.restaurants-container {
  background-color: #f4f4f4;
  margin-top: 50px;
  padding-top: 50px;
}

.restaurants-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant {
  height: 25rem;
  background-color: #FFF;
  margin-bottom: 15px;
  width: 33.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 10px 0px #acacac;
          box-shadow: 0px 5px 10px 0px #acacac;
}

.restaurant__photo {
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurant__photo--new {
  background-color: #99E2D0;
  width: 80px;
  height: 30px;
  color: #278870;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  position: relative;
  left: 24.5rem;
  top: 1rem;
  font-weight: 600;
}

.restaurant__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1.5rem;
  margin-right: 2.5rem;
  height: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant__title {
  font-weight: 700;
}

.restaurant__heart {
  fill: transparent;
  text-shadow: 0px 0px 1px #000;
  overflow: hidden;
  /*&::before{
            content: "";
            
            width: 100px;
            height: 100px;
            
            border-radius: 40%;
            position: absolute;
            animation: fill 7s ease-in-out infinite;
            z-index: -1;


        }


        &:hover{
            transform: scaleY(1);
            transition: transform;


        }*/
}

.menilmontant {
  background: center/cover no-repeat url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.charonne {
  background: center/cover no-repeat url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.cite-rouge {
  background: center/cover no-repeat url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.folie-mericourt {
  background: center/cover no-repeat url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

@-webkit-keyframes fill {
  from {
    top: 250px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    top: -50px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes fill {
  from {
    top: 250px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    top: -50px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

/*@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";*/
/*# sourceMappingURL=style.css.map */