@import "./sass/Utils/colors.scss";
@import "./sass/Base/fonts.scss";
@import "./sass/Layout/header.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: black;
}
