@keyframes spinner{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(1turn);
    }
}

@keyframes fadeout {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes loading{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}

@keyframes show-content{
    0%{
        transform: translateY(-9999px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes show-dishes{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes show-dishes-desktop{
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}