.btn{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top left, $color-primary ,$color-secondary);
    height: 5rem;
    border-radius: 50px;
    color: white;
	display:inline-block;
	padding:16px 30px;
    @include shadow;

    &:hover, &:active{
        filter: brightness(110%);
        box-shadow: 0px 4px 20px 0px #727272;
        transition: all 0.2s;

    }

}

.fonction{
    cursor: pointer;
    height: 7.3rem;
    display: flex;
    align-items: center;
    background-color: lighten($color: $color-grey, $amount: 75%);
    @include shadow(#ddd);
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-top: 5px;
    width: 92%;
    max-width: 400px;
    counter-increment: functionlist;
    @include media-query(tablet-low){
        max-width: inherit;
        width: 60%;
    }
    @include media-query(desktop){
        width: 30%;
    }

    &::before{
        content: counter(functionlist);
        position: absolute;
        @include centerflex;
        height: 24px;
        width: 25px;
        padding-top: 2.5px;
        background-color: $color-primary;
        color: white;
        border-radius: 50%;
        margin-left: -13px;
        font-size: 1.4rem;
    }
    &__icon{
        color: lighten($color-grey,25%);
        margin-left: 35px;
        margin-right: 25px;
        font-size: 2rem;
        :hover > &, :active > &{
            color: $color-primary;
        }
    }
    &__text{
        font-weight: 500;
        font-size: 1.6rem;
    }

    &:hover, &:active{
        background: lighten($color-primary,35);
    }

}