@mixin shadow($color:#c4c4c4){
    box-shadow: 0px 4px 10px 0px $color;
}

@function positionY($height,$margin){
    @return -1*($height+$margin);
}

@mixin centerflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin media-query($key: tablet-low) {
    @media screen and  (min-width: map-get($breakpoints, $key)){
        @content;
    }
}
    
