//couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #353535;
$color-lightgrey: #F6F6F6;



$anim-delay: 300ms;
$dishes-delay: 100ms;

$width-spinner-bar: 80px;
$height-spinner-bar: #{$width-spinner-bar};
$width-spinner-bar-reversed: 55px;
$heigth-spinner-bar-reversed: #{$width-spinner-bar-reversed};
$margin: 200px;
$width-checked: 60px;
$width-price: 100px;
$width-dish: 98%;

$breakpoints: (
    tablet-low: 680px,
    tablet-medium: 768px,
    tablet-high: 1024px,
    desktop: 1366px
);